page {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  background: url('https://s1.ax1x.com/2023/04/13/ppxSePI.png') no-repeat left
    top;
  background-size: cover;
}
.bang-nav {
  height: calc(var(--status-bar-height) + 35rpx);
}
.contentCenter {
  margin: 0 auto;
  width: 650rpx;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
