view,
span {
  box-sizing: border-box;
}
page {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  background: url('https://s1.ax1x.com/2023/04/13/ppxSePI.png') no-repeat left
    top;
  background-size: cover;
}
.bang-nav {
  height: calc(var(--status-bar-height) + 35rpx);
}
.container {
  margin: 0 auto;
  width: 650rpx;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
  background-color: transparent;
  width: 3px;
}
s ::-webkit-scrollbar-thumb {
  background-color: inherit;
  border-radius: 8px;
  background-clip: content-box;
  // border: 2px solid transparent;
}

body[scroll],
::-webkit-scrollbar-thumb {
  background-color: #a6c9fd;
  transition: 0.2s;
}
